body, html {
    margin: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: #F3DE82;
}

h1, h3 {
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  color: #C0432D;
  letter-spacing: 0.1rem;
  margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #C0432D;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
}

p, .p-landing {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.8rem;
  text-transform: inherit;
  float: center;
  padding-bottom: 1rem;
}

p {
    color: #383838;
}

.p-landing {
  color: #C0432D;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

.li-navbar {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #C0432D;
    display: inline;
    padding-left: 2rem;
    text-decoration: none;
}

li:hover {
    font-style: italic;
}

.navbar {
    background-color:#F3DE82;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    padding: 0 1rem 0 1rem;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    overflow: hidden;
    z-index: 1;
}

.hamburger {
  display: none;
}

.hero {
  background: #F3DE82;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects, .projects-unit, .projects-image, .projects-info {
  display: flex;
  background: #F3DE82;
  margin: 0;
}

.projects {
    width: 100%;
    flex-direction: row;
  }

  .projects-unit {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .projects-image {
    flex: 1;
    width: 90%;
    padding-top: 60%;
    transition: ease-in-out 200ms;
    background-size: cover;
  }

  .projects-image:hover {
    filter: drop-shadow(4px 4px 0px #C0432D)
  }

  .projects-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
  }

  .top-image {
    background-size: cover;
    width: 80%;
    padding-top: 50%;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .long-image {
    width: 100%;
    padding-top: 160%;
    margin: auto;
  }

  .image1 {
      background: url(img/Immuna/immuna4.png);
      background-size: cover;
  }

  .image2 {
    background: url(img/Immuna/immunahand.png);
    background-size: cover;
}

.image3 {
  background: url(img/Immuna/immunadouble.png);
  background-size: cover;
}

.image21 {
  background: url(img/infographic/infographic.png);
  background-size: cover;
}

.image22 {
  background: url(img/infographic/animation.gif);
  background-size: cover;
  width: 50%;
  padding-top: 50%;
}

.image31 {
  background: url(img/Shuu/shuu_mockup.jpeg);
      background-size: cover;
}

.image32 {
  background: url(img/Shuu/shuu_products.png);
      background-size: cover;
}

.image41 {
  background: url(img/Smoove/smoove_macbook.jpeg);
  background-size: cover;
}

.image42 {
  background: url(img/Smoove/smoove_ipad.jpeg);
  background-size: cover;
}

.about-image {
  background: url(img/aboutme.png);
  background-size: cover;
}

  .button-readmore {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #F3DE82;
    background: #C0432D;
    border: 1px solid #C0432D;
    padding: .3rem .6rem .3rem .6rem;
    transition: ease-in-out 200ms;
}

.button-readmore:hover {
    background: #F3DE82;
    color: #C0432D;
    border: 1px solid #C0432D;
    filter: drop-shadow(3px 3px 0px #C0432D)
}

.button-readmore-dark {
  display: inline-block;
  font-family: 'DM Sans', sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: .3rem .6rem .3rem .6rem;
  transition: ease-in-out 200ms;
}

.button-readmore-dark:hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(3px 3px 0px #ffffff)
}

.about {
  margin-top: 5rem;
  background: #F3DE82;
  width: 100%;
  height: auto;
  justify-content: center;
}

.about-text {
  margin: auto;
  background: #F3DE82;
  max-width: 60%;
} 

.aboutproject {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background: #F3DE82;
  width: 100%;
  height: auto;
  justify-content: center;
}

.dark {
  background-color:#000000;
  color: #ffffff;
}

@media (max-width: 550px) {
  ul {
    display: none;
  }  

  h1 {
    font-size: 1.6rem;
  }

  .navbar {
    height: 3rem;
  }

  .hamburger {
    display: inline-block;
    width: 30px;
    margin-top: 0.3rem;
  }

  .exit {
    display: inline-block;
    width: 25px;
    margin-top: 0.3rem;
  }

  .projects-unit {
      flex-direction: column;
    }

    .projects {
      display: flex;
      width: 100%;
      flex-direction: column;
      background: #F3DE82;
    }

    h3 {
      font-size: 1.2rem;
    }

    .about {
      margin-top: 3rem;
    }

    .about-text {
      max-width: 80%;
    }

    .top-image {
      width: 100%;
      padding-top: 65%;
    }
    .year-team-role {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
}