body {
    margin: 0;
    background-color: white;
    background-image: url(img/bgcircle2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180vh;
    padding-bottom: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 2rem 0 2rem;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    overflow: hidden;
    z-index: 1;
}

h1, h2, h3 {
    transition-duration: 200ms;
}

h1:hover, h2:hover, h3:hover {
    color: #C7502A;
    transition-timing-function: ease-in-out;
}

h1 {
    font-family: 'Rozha One', serif;
    font-weight: 400;
    font-size: 14vw;
    text-transform: lowercase;
    color: black;
    line-height: 1rem;
}

    h1:hover {
        color: #C7502A;
        transition-timing-function: ease-in-out;
        font-size: 15vw;
    }

h2 {
    font-family: 'Jost', serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-family: 'Rozha One', serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: lowercase;
    color: black;
    line-height: 3rem;
}

h4 {
    font-family: 'Rozha One', serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: lowercase;
    color: black;
    line-height: 0rem;
}

h5 {
    font-family: 'Jost', sans-serif;
    font-size: 0.8em;
    margin-bottom: -.5rem;
    text-transform: uppercase;
    color: #C7502A;
}

h6 {
    font-family: 'Rozha One', serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: lowercase;
    color: black;
    margin: 0;
    margin-bottom: 2rem;
}

p {
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    max-width: 50em;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.about-work {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.menu-list {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 95vh;
    padding-right: 4rem;
}

.about-container {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.about-text {
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-top: -5rem;
    max-width: 700px;
}

.project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    gap: 1rem;
}

.project-duo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 0;
}

.project-card {
display: flex;
flex-direction: column;
}

.project-card-img {
    border-radius: 10px;
    padding-top: 30vw;
    width: 30vw;
    transition: ease-in-out 200ms;
    opacity: 90%;
}

.project-card-img:hover {
    opacity: 100%;
    transition: ease-in-out 200ms;
}

.img1 {
    background: url(img/eat/kvadrateat.png);   
}

.img2 {
    background: url(img/norgald/kvadratnorgald.png);
}

.img3 {
    background: url(img/capsule/kvadratcapsule.png);
    background-position: 50%;
}

.img4 {
    background: url(img/befriend/kvadratbefriend.png);
}

.img5 {
    background: url(img/kollektiva/kollektivakvadrat.png);
}

.img6 {
    background: url(img/method/methodkvadrat.png);
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    background-size: cover;
}

.project-square-img {
    border-radius: 10px;
    width: 40vw;
    margin-bottom: 2rem;
}

.about-me-img {
    border-radius: 10px;
    width: 20vw;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-bottom: 2rem;
    margin-top: 5rem;
    margin-left: 20%;
}

.quick-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 54vw;
    border-top: 1px solid #C7502A;
    border-bottom: 1px solid #C7502A;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.project-big-img {
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}


.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.button {
    opacity: 60%;
    display: flex;
    background-color: #C7502A;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    font-family: 'Jost';
    font-size: 0.8rem;
    font-weight: 100;
    color:white;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.button:hover {
    opacity: 100%;
    transition-duration: 200ms;
}

@media (max-width: 850px) {

    h3 {
        font-size: 3rem;
    }

    .navbar {
        background-color: white;
        opacity: .9;
    }

    .project-page {
        width: 80vw;
        margin-left: 10%;
    }

    .quick-info {
        width: 80vw;
    }

    .about-me-img {
        border-radius: 10px;
        width: 60vw;
        margin-bottom: 2rem;
    }

    .about-container {
        flex-direction: column-reverse;
        padding-top: 5rem;
    }
}

@media (max-width: 600px) {

    .project-square-img {
        border-radius: 10px;
        width: 80vw;
        margin-bottom: 2rem;
    }

    .project-page {
        width: 80vw;
        margin-left: 10%;
    }

    .quick-info {
        width: 80vw;
        flex-direction: column;
    }

    .about-container {
        flex-direction: column;
        gap: 3rem;
    }

    .about-text {
        margin-right: 0rem;
        margin-top: -5rem;
        width: 80vw;
    }

    .project-duo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .project-card {
    display: flex;
    flex-direction: column;
    }

    .project-card-img {
        border-radius: 10px;
        padding-top: 80vw;
        width: 80vw;
        opacity: 100%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .about-me-img {
        border-radius: 10px;
        width: 60vw;
        margin-bottom: 2rem;
    }

    .about-container {
        flex-direction: column-reverse;
        padding-top: 5rem;
    }
}